{% extends "home/base.html" %}
{% load static %}


{% block content %}

  <head>
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/about.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet"> 
    <script src="{% static 'home/about.js' %}"></script>
  </head>
    <div id="mnd" class="container-fluid introsect bg-dark">
      
    </div>

    
{% endblock content %}