{% extends "blog/base.html" %}
{% load static %}


{% block content %}

<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <script src="{% static 'blog/blog.js' %}"></script> 
</head>

<div id="mnd" class="container-fluid blog">
  <main>
    
  </main>
</div>

{% endblock content %}

