{% extends "blog/base.html" %}
{% load static %}


{% block content %}

<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <script src="{% static 'blog/blog.js' %}"></script> 
</head>

<div id="mnd" class="container-fluid blog">
  <main>
    <div class="container-fluid card-container">
      {% for post in blogPosts %}
        <div class="card">
          <div class="card-header">
            <img src="{{ post.blogHeaderImage.url }}" class="card-img" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b class="headingPr">{{ post.title }}</b></h5>
            <p class="card-text">&nbsp;&nbsp;{{ post.description }}</p>
            <div class="btnhldr">
              <a href="{{ post.html_blog_post }}" class="btn btn-primary" target="_blank">View Full Blog Post</a>
            </div>
            <p class="card-text"><small class="text-muted"><b>--{{ post.publishedDate }}</b></small></p>
            {% if post.isModified %}
              <p class="card-text"><small class="text-muted"><b>Modified On {{ post.modifiedDate }}</b></small></p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
</div>

{% endblock content %}

