{% extends "projects/base.html" %}
{% load static %}


{% block content %}

<head>
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="{% static 'projects/projects.css' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <script src="{% static 'projects/projects.js' %}"></script> 
</head>

<div id="mnd" class="container-fluid projects">
  <main>
    <div class="container-fluid card-container">
      {% for project in projects %}
        <div class="card">
          <div class="card-header">
            <img src="{{ project.img.url }}" class="card-img" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><b class="headingPr">{{ project.name }}</b></h5>
            <p class="card-text">&nbsp;{{ project.description }}</p>
            <p class="Date"><b>Start Date:</b> {{project.start_date}}<br><b>End Date:</b> {{project.end_date}}</p>
            <p class="sttxt"><b>Project Status:</b> {{project.status}}</p>
            <div class="btnhldr">
              <a href="{{ project.url }}" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
</div>

{% endblock content %}

