<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Email from {{name}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet"> 
    </head>
    <body style="font-family: Ubuntu Mono;">

        <div class="maincont" style="background-color: #99ccff;">
            <div class="header" style="height: 25%;background-color: #3399ff;">
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="main" style="height: 75%;">
                <div class="content" style="margin: 0.5rem;">
                    <h3>Hello {{name}},</h3>
                    <p>
                        I have recieved your request to connect. I will get back to you shortly once I review the message. 
                        Meanwhile this is the message I have recieved. 
                        If there are any corrections or there is something you would like me to add, Feel free to drop a mail or contact using the form in website.
                        <br>
                        Name&nbsp;&nbsp;&nbsp;&nbsp;: {{name}}<br>
                        Email&nbsp;&nbsp;&nbsp;: {{email}}<br>
                        Message&nbsp;: {{message}}<br>
                        <br>
                        P.S., This email template is a work in progress and may not render properly yet.
                        <br><br>
                        Thanks & Regards,<br>
                        Sresthaa, Shaga
                    </p>
                </div>
                <div class="footer" style="background-color: #bfbfbf;text-align: center;">
                    <br>
                    <h3><b>© Shaga Sresthaa, 2021</b></h3>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>